.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  padding: 0px;
  margin: 25px 10px;
}

.cell {
  box-shadow: 6px 6px 6px 1px rgb(181, 181, 189);
  background: rgb(224, 235, 255);
  border: 2px solid #999;
  border-radius: 15px;
  float: left;
  font-size: 40px;
  font-weight: bold;
  height: 64px;
  margin: 6px;
  padding: 3px;
  text-align: center;
  width: 64px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.form {
  float: left;
}
.correctWords {
  float: right;
}
